<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">

    <img
      src="images/logo.png"
      alt="Logo"
      class="navbar-brand"
      id="logotext"
    >

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link {{#if state.index}}active{{/if}}" aria-current="page" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link {{#if state.products}}active{{/if}}" href="/products">Products</a></li>
        <li class="nav-item"><a class="nav-link {{#if state.basket}}active{{/if}}" href="/basket">Basket<span id="amount"></span></a></li>
        <li class="nav-item"><a class="nav-link {{#if state.aboutus}}active{{/if}}" href="/aboutus">About Us</a></li>
        <li class="nav-item"><a class="nav-link" href="/login" id="loginNav">Login</a></li>
      </ul>
    </div>

  </div>
</nav>
