<!DOCTYPE html>
<html lang="en">
<main>
<div class="container py-5">
  <h1 class="mb-4">Your Basket</h1>

  <ul id="cartList" class="list-group mb-4"></ul>

    <h4 class="text-end">
    Total: $<span id="cartTotal">0</span>
  </h4>

  <div class="text-end mt-3">
    <a href="/products" class="btn btn-secondary">Continue Shopping</a>
    <a class="btn btn-dark" href="/payment">Checkout</a>
  </div>
</div>
</main>
<script src="nav.js"></script>
<script src="basket.js"></script>
</html>
