
<main>
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="images\CImg2.png" class="d-block w-100" id="gradient" alt="Image of the rift titan pc. Our high end option">
      <div class="carousel-caption">
        <h5 style="font-size: 50px;">Rift Titan</h5>
        <p class="d-none d-lg-block">Our high end PC option.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="images\CImg3.png" class="d-block w-100" id="gradient" alt="Image of the Rift PC. Our mid range option">
      <div class="carousel-caption">
        <h5 style="font-size: 50px;">Rift</h5>
        <p class="d-none d-lg-block">Our mid-range PC option.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="images\CImg1.png" class="d-block w-100" id="gradient" alt="Image of the Rift mini PC. Our low range option">
      <div class="carousel-caption">
        <h5 style="font-size: 50px;">Rift Mini</h5>
        <p class="d-none d-lg-block">Our budget PC option.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
  <p class="display-5" style="text-align: center; padding: 100px" >Our Pcs are made in house with the best parts available. Bellow are some recent reviews of our Pcs</p>
<div class="container">
  <div class="row g-2 mb-5">
    <div class="col-md-6 col-lg-4">
      <div class="card h-100">
        <img class="card-img-top" src="/images/Reviewimg1.png" alt="Review image 1">
        <div class="card-body">
          <h4 class="card-title">Adrian Phillips</h4>
          <p class="card-text">I bought the mid range pc and it arrived quickly and runs like a dream. 10/10 would buy again.</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card h-100">
        <img class="card-img-top" src="/images/Reviewimg2.png" alt="Review Image 2">
        <div class="card-body">
          <h4 class="card-title">Jason Ellis</h4>
          <p class="card-text"> Great value for the price. Customer support answered my questions quickly and the PC performs exactly as advertised.</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card h-100">
        <img class="card-img-top" src="/images/Reviewimg3.png" alt="Review Image 3">
        <div class="card-body">
          <h4 class="card-title">Tommy Lawson</h4>
          <p class="card-text">Really happy with my purchase. The PC was easy to set up and runs all my games smoothly. Shipping was fast as well.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

</main>
<script src="nav.js"></script>
