<main class="d-flex align-items-center justify-content-center">
  <div class="card shadow-sm border-0 login-card">
    <div class="card-body text-center p-4">
      <h2 class="mb-3">Log out</h2>
      <p>Are you sure you want to log out?</p>
      <button class="btn btn-danger w-100" id="logoutBtn">Log out</button>
    </div>
  </div>
</main>

<script src="logout.js"></script>
<script src="nav.js"></script>

