<main class="container py-5">
    <div class="container py-5">
  <h1 class="text-center mb-5 display-4">Our Gaming PCs</h1>

  <div class="row g-2" id="productRow"></div>
</div>


<div class="container mt-4">
  <h3>Cart (<span id="cartCount">0</span>)</h3>
  <ul id="cartList" class="list-group"></ul>
</div>
</main>

<script src="nav.js"></script>
<script src="products.js"></script>

