    <main class="d-flex align-items-center justify-content-center">
        <div>
        <h1>Thank you for your purchace</h1>
        <div>
        <a class="justify-content-centre btn btn-dark" href="/">Back to Home</a>
        </div>
        </div>
    </main>
<script src="nav.js"></script>
