    <main>
        <section>
        <article class="switch1stuff">
            <p><h2 class="college">Thank You</h2></p>
    <ul class="list-group mb-3">
        <li class="list-group-item" style="color: black;">Name: {{name}}</li>
        <li class="list-group-item" style="color: black;">Email: {{email}}</li>
        <li class="list-group-item" style="color: black;">Message: {{message}}</li>
    </ul>
        </article>
        </section>
    </main>