* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#logotext{
    align-items: right;
    justify-content: right;

}

@media (max-width: 992px) {
    #logotext {
        width: 70%;
        height: auto;
        padding-right: 25%;
    }
    .nav-link {
        font-size: 50px;
    }
}


.dropdown {
    border: 300px;
}

@media (min-width: 992px) {
    .navbar .container-fluid {
        display: flex;
        align-items: center;
        gap: 0.75rem;
    }

    .navbar .container-fluid > .collapse {
        order: 1;
    }

    #logotext {
        order: 2;
        margin-left: auto;
        margin-right: 0;
        text-align: right;
        height: 20%;
        width: 20%;
    }
}

.navbar-toggler {
    border-radius: 100px;
    height: 80px;
    width: 100px;
}

.navbar{
    justify-content: left;
}

.gradient {
  position: relative;
  display: inline-block;
}

.gradient::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
}
nav{
    background-color: lightgray;
}


